@font-face {
	font-family: Rubik;
	src: url("../fonts/Rubik.woff2");
}

@font-face {
	font-family: FinkHeavy;
	src: url("../fonts/FinkHeavy.ttf");
}

:root {
	--logo-yellow: 254, 210, 62;
	--color-primary-100: 51, 172, 153;
	--color-secondary-100: 254, 210, 62;
	--color-secondary-200: 230, 156, 21;
	--color-alert: 218, 47, 53;
	--btn-hover: 41, 138, 121;
	--separator: 0, 0, 0, 0.2;
}

html, body {
	min-height: 100%;
}

body {
	margin: 0 auto;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url('../img/wood-tile.jpg');
	font-family: Rubik, sans-serif;
	font-size: 16px;
}

a:link, a:visited {
	color: rgb(var(--color-primary-100));
}

p {
	line-height: 1.5;
}

input {
	font-family: Rubik;
	font-size: 1.1rem;
}

button {
	font-family: Rubik;
}

.pages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-grow: 1;
}

/** The rule below refers to the state of pages that are hidden at this moment. **/
.page {
	display: none;
	justify-content: center;
	position: relative;
	left: 100vw;
	opacity: 0;
	margin-top: 16px;
}

.btn {
	color: white;
	font-size: 1.1rem;
	padding: 6px 8px;
	background-color: rgb(var(--color-primary-100));
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.btnRed {
	color: white;
	background-color: rgb(var(--color-alert));
}

.btn:hover {
	background-color: rgb(var(--btn-hover));
}

.border-separator {
	border-bottom: 2px solid rgba(var(--separator));
}

.blackOverlay {
	width: 100vw;
	height: 100vh;
	background: rgb(0 0 0 / 40%);
	position: fixed;
	z-index: 10;
	display: none;
}

.modal {
	display: none;
	position: absolute;
	z-index: 11;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: white;
	padding: 32px;
	border-radius: 16px;
}

/** MAIN PAGE **/
.mainPage {
	width: 100%;
	left: 0vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
}

.mainPage .wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo h1 {
	font-family: FinkHeavy;
	text-shadow: rgb(255 255 255) -1px -1px 1px, rgb(0 0 0) 1px 1px 1px, rgb(0 0 0 / 90%) 3px 3px 6px;
	color: rgb(var(--logo-yellow));
	font-size: 4rem;
	user-select: none;
	text-align: center;
}

.rulesAndFaq {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(0 0 0 / 75%);
	color: white;
	border-radius: 12px;
	margin-top: 16px;
}

.rulesAndFaq > p {
	margin-block-start: 12px;
	margin-block-end: 12px;
}

.siteDescription {
	max-width: 600px;
	width: 100%;
	min-height: 384px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/ac-beach.jpg");
	background-position: 50%;
	background-size: cover;
	border-radius: 6px;
	box-shadow: rgb(0 0 0 / 90%) 0px 0px 3px 3px inset, 
				rgb(0 0 0 / 60%) 0px 0px 10px 6px inset, 
				rgb(0 0 0 / 20%) 0px 0px 20px 30px inset;
}

.descriptionContent {
	width: 85%;
	height: 75%;
	min-height: 290px;
	padding: 12px;
	background: rgb(255 255 255 / 90%);
	border-radius: 6px;
	box-shadow: rgb(0 0 0 / 40%) 0px 0px 10px;
}

.actionNotes {
	max-width: 750px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

.note {
	max-width: 330px;
	min-width: 300px;
	height: 180px;
	position: relative;
	margin: 20px;
	background: white;
	box-shadow: 0 0 5px rgb(0 0 0 / 60%), 
				0 0 50px rgb(0 0 0 / 20%) inset;
	cursor: pointer;
	user-select: none;
	transition: all 0.1s ease-in-out;
}

.note .noteTitle {
	font-family: FinkHeavy;
	font-weight: 100;
	text-align: center;
	margin-block-start: 0.80em;
	margin-block-end: 0em;
}

.note .noteDescription {
	font-size: 0.85rem;
	padding: 16px;
	text-align: center;
}

#noteHost {
	transform: rotate(-9deg);
}

#noteJoin {
	transform: rotate(4deg);
}

#noteIslands {
	transform: rotate(-6deg);
}

.note:hover {
	transform: rotate(0deg) scale(1.2) !important;
}

.pin {
	width: 50px;
	height: 43px;
	position: absolute;
	top: -1rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.orangePin {
	background-image: url("../img/orange-pin.png");
}

.bluePin {
	background-image: url("../img/blue-pin.png");
}

.purplePin {
	background-image: url("../img/purple-pin.png");
}

/** END MAIN PAGE **/

/** SHARED COMPONENTS **/
.boxContainer {
	padding: 20px 32px;
	background: white;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
	border-radius: 6px;
}

.boxContainer .actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page .title span {
	font-size: 1.25rem;
}

.page .title strong {
	font-weight: 600;
}

.page .description {
	font-size: 0.9rem;
}

.section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 28px 0px;
}

.section label {
	padding-right: 16px;
}

.section input {
	border-color: rgb(var(--color-secondary-100));
	border-width: 0;
	border-bottom-width: 2px;
}

.section input:focus {
	outline: none;
	border-bottom-color: rgb(var(--color-secondary-200));
}
/** END SHARED COMPONENTS **/

/** HOST **/

.hostPage {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.hostPage .wrapper {
	max-width: 500px;
	margin: 0 1rem;
}

/** HOST STEP 2 **/

.hostPageStep2 {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.hostPageStep2 .wrapper {
	width: 433px;
}

.hostPageStep2 .islandDescription textarea {
	font-family: Rubik;
	font-size: 0.9rem;
}

/** END HOST **/

/** INDIVIDUAL HOSTED ISLAND **/

.islandPage .wrapper {
	max-width: 500px;
}

.islandPage .boxContainer {
	position: relative;
	padding-top: 2rem;
}

.islandPage .btnBack {
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2rem;
	transform: translate(-50%, -50%);
}

.islandPage .title span {
	font-size: 1.4rem;
}

.islandPage .header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.islandPage #btnLeaveQueue {
	display: none;
}

.islandInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.islandInfo .separator {
	padding: 0px 4px;
}

.islandPage .description {
	white-space: pre-wrap;
}

.islandPage .description p {
	min-height: 3.5rem;
    max-height: 10rem;
	overflow-y: auto;
	margin: 0;
}

.islandPage .header.visitorQueue {
	margin: 1rem 0;
}

.islandPage .header.visitorQueue small {
	font-size: 0.9rem;
	font-style: italic;
}

.islandPage .visitorsDescription {
	font-size: 0.75rem;
}

.islandPage .visitors {
	margin-bottom: 1rem;
}

.islandPage .visitors ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.islandPage .visitors li {
	font-weight: 100;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}

.islandPage .visitors li .position {
	margin-right: 0.25rem;
}

.islandPage .visitors li .username {
	font-weight: 700;
}

.islandPage .visitors li .timeSinceJoin {
	font-weight: 100;
	font-size: 0.8rem;
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
}

.islandPage .currentPosition {
	margin-top: 1rem;
	text-align: center;
}

.fruitImage[fruit="apple"] {
	background-image: url('./../img/apple.png');
}

.fruitImage[fruit="peach"] {
	background-image: url('./../img/peach.png');
}

.fruitImage[fruit="orange"] {
	background-image: url('./../img/orange.png');
}

.fruitImage[fruit="pear"] {
	background-image: url('./../img/pear.png');
}

.fruitImage[fruit="cherry"] {
	background-image: url('./../img/cherry.png');
}

.turnipsImage {
	background-image: url('./../img/turnips.png');
}

.icon {
	width: 1.3rem;
	height: 1.3rem;
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	margin: 0px 4px;
}

/** END INDIVIDUAL HOSTED ISLAND **/

/** ISLAND LISTINGS **/

.islandsPage {
	width: 90%;
}

.islandsPage .backWrapper {
	margin-bottom: 1rem;
}

.islandsPage .filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1rem;
}

.islandsPage .filter {
	padding: 0.75em;
	margin: 0.4em;
	background-color: rgb(255 255 255 / 0.4);
	border-radius: 0.2rem;
}

.islandsPage .filter:first-child {
	justify-self: flex-start;
	margin-left: 0;
}

.islandsPage .filter:nth-child(2) {
	justify-self: center;
	margin-left: 0;
}

.islandsPage .filter:last-child {
	justify-self: flex-end;
	margin-right: 0;
}

.islandsPage .filter .filterTitle {
	text-align: center;
	margin-bottom: 0.5em;
}

.islandsPage .filter .filterOptions {
	display: flex;
	justify-content: center;
}

.islandsPage .filter .filterOptions button {
	text-align: center;
	border: none;
	cursor: pointer;
	padding: 0.4em;
	background-color: rgba(var(--color-secondary-200), 0.5);
	font-size: 0.75em;
}

.islandsPage .filter .filterOptions button[selected] {
	background-color: rgb(var(--color-secondary-100));
}

.islandsPage .filter .filterOptions button:first-child {
	border-top-left-radius: 0.4rem;
	border-bottom-left-radius: 0.4rem;
}

.islandsPage .filter .filterOptions button:last-child {
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}

.islandsPage .islands {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 1.5rem;
	margin-top: 2rem;
}

.islandsPage .island {
	width: 16rem;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0.75rem;
	/** This is amazing. width: 100 is calculated only AFTER padding is first applied. God I wish I knew this earlier. Wow. 🤯 **/
	box-sizing: border-box;
	background-color: rgb(255 255 255);
	box-shadow: 0 0 5px rgb(0 0 0 / 60%), 
				0 0 50px rgb(0 0 0 / 20%) inset;
	user-select: none;
	cursor: pointer;
}

.islandsPage .island .islandHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.islandsPage .island .islandHeader .islandName {
	font-size: 2rem;
	font-family: FinkHeavy;
}

.islandsPage .island .islandHeader .entryFee {
	font-size: 0.9rem;
	margin-left: 0.6rem;
}

.islandsPage .island .islandInfo {
	margin: 1rem 0;
}

.islandsPage .island .description p {
	max-height: 11rem;
	overflow: hidden;
	font-size: 0.75rem;
	white-space: pre-wrap;
}

.islandsPage .island .queueStatus {
	width: 100%;
	text-align: right;
	font-style: italic;
	font-size: 0.8rem;
}

.islandsPage .island:hover {
	transform: rotate(0deg) scale(1.2) !important;
}

/** END ISLAND LISTINGS **/

.footer {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(255 255 255 / 75%);
	color: black;
	border-radius: 12px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 12px;
}

.footer > p {
	margin-block-start: 0;
	margin-block-end: 0;
}

/** Transitory rules for UI consistency across resolutions **/
@media only screen and (max-device-width: 881px) {
	/** To fill up 60% of wrapper width. **/
	.mainPage .siteDescription {
		width: 125%;
	}

	.islandsPage .islands {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-device-width: 1000px) {
	
}

/** Edge mobile case: hostPageStep2 has a fixed 433px width. Need to scale that down. **/
@media only screen and (max-device-width: 480px) {
	.rulesAndFaq {
		width: 33%;
	}

	.hostPageStep2 {
		transform: scale(0.75);
	}

	.modal h1 {
		font-size: 1rem;
	}

	.islandsPage .filters {
		flex-direction: column;
	}

	.islandsPage .filters .filter {
		margin: 0.6em 0;
	}
}

@media only screen and (max-device-width: 590px) {
	.islandPage {
		transform: scale(0.8);
	}

	.islandPage .btn {
		font-size: 0.7rem;
	}

	.islandsPage .filters {
		font-size: 0.8rem;
	}

	.islandsPage .islands {
		grid-template-columns: 1fr;
	}
}